body {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Roboto Slab", serif;
  padding: 8px;
  background-color: dodgerblue;
  color: white;
}

h1,
h2 {
  line-height: 22px;
  font-family: "Roboto Slab", serif;
}

nav li { 
  list-style: none;
  display: inline-block;
  margin-right: 32px;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: white;
}

ul li {
  display: flex;
  justify-content: space-between;
}

  #img {
   display: flex;
   justify-content: space-between;
   flex-direction: row; 
 }

article {
  margin: 16px;
  font-family: "Roboto Slab", serif;
}

td {
  vertical-align: top;
}

ol li {
  line-height: 2px;
}

footer {
  font-family: "Roboto Slab", serif;
  padding: 8px;
  background-color: Red;
  color: Black;
  text-align: center;
}
